
body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

ul {
    list-style: none;
}
a{
    text-decoration: none;
   
}

    /*      ---------HEADER----------       */ 
header {

}
.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4d5ae5;
    text-transform: uppercase;
   

}
.logo-web {
    color: #2e2f42;
    text-align: center
}
.logo-studio {
    color: #2E2F42;
    text-align: center
}

.header-title-main {
    font-size: 56px; 
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
}

.header-menu-list {
    letter-spacing: 0.02em;
    color: #404bbf;
}
.header-menu-item {
    
}
.header-menu-link {
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
    color: #2E2F42;
}
.header-contacts {
    font-style: normal
}
.header-contacts-list {
}
.header-contacts-item {
}
.header-contacts-link {
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
    color: #434455;
}
.hero {
    height: 600px;
    background: #2E2F42;

}
.hero h1 {
    font-weight: 700;
    font-style: Bold;
    font-size: 40px;
    line-height: 48px;
    color: #FFFFFF;
    
}
.hero-btn {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    height: 56px;
    width: 169px;
    background: #4D5AE5;
    
}

.features-subtitle-head {
    letter-spacing: 0.02em;
    color: #404bbf;
}
.selection-footer {
    
}